@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;

  --page-color: #242424;
  --text-color: #e4e4e4;
  --container-color: #191919;
  --table-line-color: #343434;


  color-scheme: light dark;

  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  display: flex;
  justify-content: center;
  background-color: var(--page-color);
  color: var(--text-color)
}

.container {
  background-color: var(--container-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.table {
  width: 100%;
}

.table__cell {
  outline: 1px solid #b2b2b2
}

.input {
  padding: 15px;
  border-radius: 10px;
  max-width: 200px;
}

.main {
  background-color: var(--page-color);
  min-width: 460px;
  max-width: 1200px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  background-color: #111111;
}

.options {
  display: flex;
  background-color: #111111;
  justify-content: space-evenly;
}

.btn {
  cursor: pointer;
  outline-color: transparent;
  border: #343434;
  padding: 0.2em 1em;
  border-radius: 0.2em;
}

.edit {
  background-color: teal;
}

.delete {
  background-color: rgb(124, 31, 31);
}

.bold {
  font-weight: 500;
}


.menu {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  border-radius: 10px;
}